*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #f1f5f8;
}
.counter-text{
    font-size: 4rem;
    letter-spacing: .3rem;
    font-weight: bold;
    transform: translateY(-100px);
    color: #102b42;
}
.counter-value{
    font-size: 6rem;
    transform: translateY(-100px);
    color: gray;
}
.counter-buttons{
    transform: translateY(-100px);
    display: flex;
    width: 50vw;
    justify-content: center;
    gap: 30px;
}
.counter-buttons button{
    cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 5px;
}
.decrease{
    background-color: red;
}
.increase{
    background-color: #4caf50;
}
.reset{
    background-color: orange;
}