*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f8;
}
.modal-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 50vh;
    margin-top: -100px;
}
.modal-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 8px 2rem;
    height: 100vh;
    width: 30vw;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
}
.modal-title{
    font-size: 3rem;
    letter-spacing: 3px;
    padding: 3rem 0rem;
}
.person-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.person-name{
    font-size: 1.4rem;
}
.person-job{
    color: #81b6ec;
    font-weight: bold;
    font-size: 1.25rem;
}
.person-description{
    font-size: 1.5rem;
    text-align: center;
    width: 95%;
}
button {
    background-color: #81b6ec;
    color: #fff;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    padding: 10px 20px;
}
